.card-new__product {
    width: 100%;
}

.card-new__product:nth-child(1) {
    padding-left: 1rem;
}

.card-new__main {
    padding-bottom: 2rem;
    width: 100%;
    overflow-x: hidden;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.view-all__product {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: .4rem 1rem;
    border: 1px solid var(--color-font-two);
    border-radius: 8px;
    color: var(--color-font-two);
    cursor: pointer;
}

.view-all__product span {
    padding-right: .4rem;
}

.view-all__product:hover {
    border: 1px solid var(--color-background);
    color: var(--color-background);
}

.card-new__title {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-font-two);
}

.card-new__title::after {
    content: "";
    display: block;
    color: #000;
    width: 70px;
    height: 3px;
    background-color: var(--color-background);
}

.card-product__item {
    height: 300px;
    position: relative;
    border-radius: 10px;
    /* width: 180px; */
    box-shadow: rgba(14, 30, 37, .10) 0px 2px 4px 0px;
    transition: .4s ease;
    position: relative;
    overflow: hidden;
    margin: 1.5rem .4rem;
    background-color: #fff;
    border: 1px solid transparent;
}

.card-product__item .title-product {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: .8rem;
    padding-top: .6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    color: var(--color-font-two);
}

.card-product__item .main-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem .8rem;
}


/* .main-product .price-product {
    color: var(--color-background);
    font-size: 14px;
    font-weight: 500;
} */

.main-product .weight-product {
    color: var(--color-size);
}

.card-product__item .add-cart {
    background-color: rgb(254 240 138);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    bottom: 2px;
    right: 18px;
    top: 40%;
    border: none;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.img-product {
    width: 145px;
    height: 145px;
    position: relative;
    margin: 0 auto;
}

.add-cart:hover {
    color: #fff;
    background-color: var(--color-background);
}

.card-product__item:hover .img-product {
    transform: scale(1.03);
    transition: .2s ease-in;
}

.card-product__item:hover {
    /* box-shadow: rgba(14, 30, 37, .12) 0px 2px 4px 0px, rgba(14, 30, 37, .32) 0px 2px 16px 0px; */
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    border: 1px solid var(--color-overlay);
}

.card-new__main .slick-next {
    right: 4px !important;
    width: 30px;
    height: 30px;
}

.card-new__main .slick-prev {
    left: unset !important;
    right: 40px !important;
    width: 30px;
    height: 30px;
}

.card-new__main .slick-prev:before,
.card-new__main .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #CCC;
}

.card-new__main .slick-prev,
.card-new__main .slick-next {
    top: 2px;
}

.card-new__main .slick-list {
    margin-top: 10px;
}