.background-auth {
    background-color: bisque;
    width: 100%;
}

.navbar-auth {
    border: 1px solid rgba(0, 0, 0, .1);
}

.navbar-item {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo-brand img {
    width: 60px;
    height: 60px;
}

.navbar-title {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
}

.navbar-title::before {
    content: "";
    height: 20px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    padding-left: 1rem;
}