.box-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    cursor: pointer;
}

.card-product__wrap:hover img {
    transform: scale(1.03);
}

.box-product .card-product__wrap .box-image {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    position: relative;
}

.box-product .card-product__wrap img {
    padding-top: 5px;
    transition: .2s ease-in;
    width: 100%;
    height: 100%;
    position: absolute;
}

.box-product .card-product .card-product__wrap {
    background-color: #fff;
    margin: .35rem;
    height: 315px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, .10) 0px 2px 4px 0px;
    border: 1px solid transparent;
}

.box-product .card-product .card-product__wrap:hover {
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    border: 1px solid var(--color-overlay);
    transition: .2s ease-in-out;
}

.box-product .card-product .card-product__wrap:hover #icon {
    color: #fff;
}

.card-product__wrap .quality-product {
    display: flex;
    justify-content: space-between;
}

.card-product__wrap .title-product {
    padding-top: .2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-font-two);
    font-size: 1.1rem;
}

.card-product__wrap .ward-product {
    display: flex;
    align-items: center;
    font-size: .8rem;
    text-transform: capitalize;
    padding: .2rem 0;
}

.card-product__wrap .ward-product span {
    color: var(--color-font-two);
    margin-left: .2rem;
}

.card-product__wrap .price-product {
    font-size: 16px;
    font-weight: bold;
}

.card-product__wrap .size-product {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--color-size);
}

.card-product__wrap button {
    position: absolute;
    bottom: 8px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /* background-color: rgb(34 197 94); */
    top: 40%;
    right: 15px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-product__wrap button:hover {
    background-color: var(--color-background);
    border: none;
    color: #fff;
}

.card-product__wrap:hover {
    box-shadow: rgba(14, 30, 37, .12) 0px 2px 4px 0px
}

@media screen and (max-width:1025px) {
    .col-five {
        width: 25%;
    }
}

@media screen and (max-width:769px) {
    .col-five {
        width: 33.33%;
    }
}

@media screen and (max-width:576px) {
    .col-five {
        width: 50%;
    }
}